<a href="https://colab.research.google.com/github/MirzaDanyalBaig/ML_OEL_PhonEzy/blob/master/ML_OEL_PhonEzy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Contributors:


1.   Muhammad Faizan Khan (CS-21070)
2.   Mirza Danyal Baig (CS-21076)
3.   Aneeq Akhtar (CS-21101)

# Importing Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('smartphonesDataset.csv')
print(df.head()) #initial 5 rows of the dataset

                                     Smartphone     Brand           Model  \
0            Realme C55 8/256GB Sunshower Libre    Realme             C55
1      Samsung Galaxy M23 5G 4/128GB Azul Libre   Samsung      Galaxy M23
2  Motorola Moto G13 4/128GB Azul Lavanda Libre  Motorola        Moto G13
3      Xiaomi Redmi Note 11S 6/128GB Gris Libre    Xiaomi  Redmi Note 11S
4       Nothing Phone (2) 12/512GB Blanco Libre   Nothing       Phone (2)

    RAM  Storage   Color Free  Final Price
0   8.0    256.0  Yellow  Yes       231.60
1   4.0    128.0    Blue  Yes       279.00
2   4.0    128.0    Blue  Yes       179.01
3   6.0    128.0    Gray  Yes       279.99
4  12.0    512.0   White  Yes       799.00

Data Preprocessing

In [3]:
print(df.info()) #information about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1816 entries, 0 to 1815
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Smartphone   1816 non-null   object
 1   Brand        1816 non-null   object
 2   Model        1816 non-null   object
 3   RAM          1333 non-null   float64
 4   Storage      1791 non-null   float64
 5   Color        1816 non-null   object
 6   Free         1816 non-null   object
 7   Final Price  1816 non-null   float64
dtypes: float64(3), object(5)
memory usage: 113.6+ KB
None

In [4]:
print(df.describe()) #summary of the dataset

              RAM      Storage  Final Price
count  1333.00000  1791.000000  1816.000000
mean      5.96099   162.652150   492.175573
std       2.66807   139.411605   398.606183
min       1.00000     2.000000    60.460000
25%       4.00000    64.000000   200.990000
50%       6.00000   128.000000   349.990000
75%       8.00000   256.000000   652.717500
max      12.00000  1000.000000  2271.280000

In [6]:
print(df.isnull().sum()) #checking for missing values
#Missing values are present in the dataset in RAM and Storage columns

Smartphone       0
Brand            0
Model            0
RAM            483
Storage         25
Color            0
Free             0
Final Price      0
dtype: int64

In [7]:
print(df.duplicated().sum()) #checking for duplicate values
# No duplicates

0

In [8]:
print(df['Brand'].value_counts()) #count of each brand in the dataset
print(df['RAM'].value_counts()) #count of each RAM in the dataset
print(df['Storage'].value_counts()) #count of each Storage in the dataset

Brand
Samsung       458
Xiaomi        351
Apple         292
Realme        117
OPPO           92
POCO           67
Motorola       57
Huawei         57
TCL            36
Cubot          34
Ulefone        30
Blackview      27
Vivo           27
Honor          27
OnePlus        22
Hammer         21
ZTE            17
Nokia          13
SPC            11
Google          9
Nothing         9
Alcatel         7
Crosscall       7
CAT             6
Gigaset         3
Qubo            3
Asus            3
Doro            3
Sony            2
Swissvoice      1
Maxcom          1
LG              1
BQ              1
Funker          1
Fairphone       1
Microsoft       1
Lenovo          1
Name: count, dtype: int64
RAM
8.0     381
4.0     380
6.0     259
3.0     112
12.0    109
2.0      88
1.0       4
Name: count, dtype: int64
Storage
128.0     732
256.0     412
64.0      332
32.0      166
512.0      94
16.0       24
1000.0     17
4.0         6
8.0         3
2.0         2
3.0         2
12.0        1
Name: count, dtype: int64

Data Cleaning

In [9]:
# Filling ram and storage with mode of there respective columns
df.fillna({'RAM': df['RAM'].mode()[0]} , inplace = True)
df.fillna({'Storage': df['Storage'].mode()[0]} , inplace = True)

In [10]:
print(df.isnull().sum()) #checking for missing values again

Smartphone     0
Brand          0
Model          0
RAM            0
Storage        0
Color          0
Free           0
Final Price    0
dtype: int64